/* .App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

:root {
  --heardle-plus-plus-pink: #FD7B7B;
  --heardle-plus-plus-green: rgb(53, 155, 53);

  /* background: linear-gradient(pink, var(--heardle-plus-plus-pink)); */
  background-color: var(--heardle-plus-plus-pink);
  text-align: center;
}

a, button, img, .autosuggestion { /* quick fix but no good */
  cursor: pointer;
}

hr {
  height: 1px;
  background-color: black;
}

button {
  margin-bottom: 5px;
  border-radius: 2em;
  padding: 10px;
  background-color: white;
}

h1 {
  font-size: 3em;
}

h5 {
  margin-top: 0.5px;
  color: white;
}

p {
  font-size: larger;
}

.playlists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.playlist {
  width: 300px;
}

.audio-buttons {
  display: flex;
  justify-content: center;
}

.audio-button {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
  cursor: pointer;
}

.play-button {
  background-image: url("./icons/play-button.png");
}

.pause-button {
  background-image: url("./icons/pause-button.png");
}

.suggestionList_scrollable {
  color: white;
}

.autosuggestion {
  list-style-type: none;
}

.loading-icon {
  display: flex;
  justify-content: center;
}

.loading-icon::before {
  content: "";
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border-style: solid;
  border-width: 10px;
  border-color: grey;
  border-top-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: pink;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

#overlay {
  position: fixed;
  z-index: 2;
  top: 25%;
  left: 35%;
  display: none;
  border-radius: 15%;
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-size: 3em;
  /* color: white; */
}