.DS_Store
node_modules
.env
to-do.txt

client/src/KeyboardUITest.js
client/src/App_og.js
client/src/README.md

client/src/components/Player.jsx
client/src/components/Playlists.jsx
client/src/components/PlayPauseButton.jsx