/* .GuessingStep {
  display: flex;
  flex-direction: column;
  
} */

.GuessingStep .Playlist img {
  width: 170px;
}

@media screen and (min-width: 700px) {
  .GuessingStep .Playlist img {
    width: 270px;
  }
}

.GuessingStep .audio-buttons {
  display: flex;
  justify-content: center;
}

.GuessingStep .audio-button {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  cursor: pointer;
}

.GuessingStep .play-button {
  background-image: url("../icons/play-button.png");
}

.GuessingStep .pause-button {
  background-image: url("../icons/pause-button.png");
}

/* .GuessingStep .autosuggest_wrapper {
  position: relative;
} */

/* not quite but almost */
/* .GuessingStep .suggestionList_scrollable {
  position: absolute;
  bottom: 118px;
  left: -40px;
  width: 100%;
} */

.GuessingStep .autocomplete {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.GuessingStep .autocomplete .menu {
  position: absolute;
  bottom: 100%;
  font-size: 90%;
  overflow: auto;
  max-height: 200px;
  width: 100%;
}

.GuessingStep .autocomplete .suggestion {
  color: black;
  background-color: white;
  height: 46px;
  border: 1px solid black;
  text-align: left;
  padding-left: 5px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.GuessingStep .autocomplete .selected {
  background-color: lightgrey;
}

.GuessingStep .autocomplete .input {
  padding: 5px 5px;
  width: 250px;
  height: 30px;
  background-color: transparent;
  border: 3px solid white;
  font-size: 16px;
  font-weight: bold;
}

.GuessingStep .autocomplete .input::placeholder {
  color: white;
}

.GuessingStep .autocomplete .input:focus {
  outline: solid lightgrey;
}

@media screen and (min-width: 500px) {
  .GuessingStep .autocomplete .input {
    width: 400px;
  }
}

@media screen and (min-width: 750px) {
  .GuessingStep .autocomplete .input {
    width: 650px;
  }
}

.GuessingStep .submit {
  border-radius: 2em;
  border-color: transparent;
  margin-top: 10px;
  padding: 10px 20px;
  height: 50px;
  background-color: var(--heardle-plus-plus-green);
  cursor: pointer;
  color: black;
  font-weight: bold;
}