/* * {
  color: white;
} */

.Header {
  position: sticky;
  top: 0;
  background-color: var(--heardle-plus-plus-pink);
  padding-top: 20px;
  z-index: 2;
  margin-bottom: 30px;
}

.Header h1 {
  margin: 0 auto;
  cursor: pointer;
  width: fit-content;
  font-size: 2.5em;
}

.Header button {
  padding: 10px 10px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  margin-top: 22px;
}

.Header a {
  text-decoration: none;
}

.Header hr {
  border: 1px solid white;
}