/* * {
  color: white;
} */

.Header {
  position: sticky;
  top: 0;
  background-color: var(--heardle-plus-plus-pink);
  padding-top: 20px;
  z-index: 2;
  margin-bottom: 30px;
}

.Header h1 {
  margin-top: 0;
  cursor: pointer;
}

.Header button {
  padding: 10px 10px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}

.Header hr {
  border: 1px solid white;
}