.ResultsStep .playlist-message {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

@media screen and (min-width: 580px) {
  .ResultsStep .playlist-message {
    justify-content: center;
  }

  .ResultsStep .playlist-message div {
    margin: 0 35px;
  }
}

.ResultsStep .message {
  /* margin-right: 10px; */
  /* margin-left: 10px; */
}

.ResultsStep .message h2 {
  margin-bottom: 0;
  color: var(--heardle-plus-plus-green);
  font-size: 27px;
}

.ResultsStep .message h5 {
  margin-top: auto;
  font-size: 12px;
}

.ResultsStep .Playlist img {
  width: 100px;
}

.ResultsStep .Playlist h4 {
  font-size: smaller;
}

.ResultsStep .track-info {
  margin: 20px auto;
  background-color: black;
  width: 80%;
  max-width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.ResultsStep .play-button {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  cursor: pointer;
  background-image: url("../icons/play-button.png");
  margin-left: 10px;
}

.ResultsStep .track-info h5 {
  margin: 0 auto;
}

.ResultsStep .track-info a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.ResultsStep .track-info .title-artist-year .title {
  font-weight: 900;
}

.ResultsStep .track-info .title-artist-year {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 5px;
}

.ResultsStep .track-info .title-artist-year .artist-year {
  color: var(--heardle-plus-plus-green);
}

.ResultsStep .track-info .title-artist-year h5 {
  margin-left: 0;
}

.ResultsStep .track-info img {
  position: relative;
  /* width: 10%; */
}

.ResultsStep .play-again-heading {
  margin: 0 auto;
}

.ResultsStep .buttons-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  margin-top: 10px;
}

.ResultsStep button {
  border-radius: 2em;
  border-color: transparent;
  margin-top: 10px;
  padding: 10px 20px;
  height: 50px;
  color: black;
  max-width: 70%;
  cursor: pointer;
  font-weight: bold;
}

.ResultsStep button.another-playlist {
  background-color: white;
}

.ResultsStep button.same-playlist {
  background-color: var(--heardle-plus-plus-green);
}

@media screen and (min-width: 380px) {
  .ResultsStep .buttons-container {
    justify-content: center;
  }

  .ResultsStep button {
    margin: 10px 25px;
  }
}

@media screen and (min-width: 1000px) {
  .ResultsStep .Playlist img {
    width: 150px;
  }

  .ResultsStep .playlist-message .message h2 {
    font-size: 45px;
  }

  .ResultsStep .playlist-message .message h5 {
    font-size: 16px;
  }

  .ResultsStep .track-info {
    max-width: 600px;
  }

  .ResultsStep .track-info .title-artist-year {
    padding-left: 10px;
  }

  .ResultsStep .track-info .title-artist-year h5 {
    font-size: 17px;
  }
}